badDriverCore/badDriverService/Web References/Baddriver.APIv1/APIv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WorstDrivers">
        <s:complexType />
      </s:element>
      <s:element name="WorstDriversResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorstDriversResult" type="tns:ArrayOfDriver" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDriver">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Driver" nillable="true" type="tns:Driver" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Driver">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Supplier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Incidents" type="tns:ArrayOfIncident" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIncident">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Incident" nillable="true" type="tns:Incident" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Incident">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Photos" type="tns:ArrayOfPhoto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhoto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Photo" nillable="true" type="tns:Photo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Photo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WorstDriversSoapIn">
    <wsdl:part name="parameters" element="tns:WorstDrivers" />
  </wsdl:message>
  <wsdl:message name="WorstDriversSoapOut">
    <wsdl:part name="parameters" element="tns:WorstDriversResponse" />
  </wsdl:message>
  <wsdl:portType name="APIv1Soap">
    <wsdl:operation name="WorstDrivers">
      <wsdl:input message="tns:WorstDriversSoapIn" />
      <wsdl:output message="tns:WorstDriversSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APIv1Soap" type="tns:APIv1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WorstDrivers">
      <soap:operation soapAction="http://tempuri.org/WorstDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIv1Soap12" type="tns:APIv1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WorstDrivers">
      <soap12:operation soapAction="http://tempuri.org/WorstDrivers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIv1">
    <wsdl:port name="APIv1Soap" binding="tns:APIv1Soap">
      <soap:address location="http://localhost:59734/APIv1.asmx" />
    </wsdl:port>
    <wsdl:port name="APIv1Soap12" binding="tns:APIv1Soap12">
      <soap12:address location="http://localhost:59734/APIv1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>